{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form method="POST" class="form">{% csrf_token %}-->
<!--    Username: <input type="text"  name="username" class="form-control" />-->
<!--    <br>-->
<!--    Password: <input type="password"  name="password" class="form-control" />-->
<!--    <br>-->
<!--        <input type="submit"  name="Submit" class="btn btn-success" />-->
<!--</form>-->
<section class="h-100 gradient-form" style="background-color: #000000;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black border border-dark" >
          <div class="row g-0">
            <div class="col-lg-6" >
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{% static 'img/logo4.png' %}" alt="FarmHouse">
                  <h4 class="mt-1 mb-5 pb-1">We are The Farm Team</h4>
                </div>

                <form method="POST" class="form">{% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="text" name="username" class="form-control"
                      placeholder="Phone number or email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                     <input type="submit"  name="Submit" class="btn btn-success" />

                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
<!--                    <button type="button" class="btn btn-info"><a href="/signup/">click here </a></button>-->
                          <a href="/signup/">Click here!!   </a> </h4>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="background-color: #000000;">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h2 class="mb-4 text-white">We are more than just a campsite</h2>
                <h5 class=" mb-0 text-warning font-weight-bold">Welcome to Farm house!!
                    <br>
                    <br>
                    We are looking forward to host you soon.
              Check up to our offers and upcoming events page and make sure you reserve your place!!
                    <br>
                    <br>
                  Do what excites!!.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<h4> Not a member yet !<a href="/signup/">click here </a> to signup</h4>-->
</body>
{% endblock %}